.TodosList__todo{
    font-size: .8rem;
    text-align: left;
    color: #000;
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 8px 10px;
    max-width: fit-content;
    margin-bottom: 20px;
    cursor: pointer;

    &:nth-child(even){
        margin: 0 0 auto auto;
        margin-bottom: 20px;
    }

    &.active{
        background-color: #bee5eb;
    }
}